
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="static/saude.css">
      <link rel="stylesheet" href="static/.css">
      <link rel="shortcut icon" href="static/LOGO.ico" type="image/x-icon">
      <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"/>
   </head>   
   <header>
    <header>
      <nav class="nav-bar">
          <div class="logo">
              <h1>NOVAE TERRAE</h1>
          </div>
          <div class="nav-list">
              <ul>
                  <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Saude</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Chat</a></li>
              </ul>
          </div>
          <div class="login-button">
              <button><a href="/login">Entrar</a></button>
          </div>

          <div class="mobile-menu-icon">
              <button onclick="menuShow1()"><img class="image" src="" alt="static\login.png"></button>
          </div>
      </nav>
      <div class="mobile-menu">
          <ul>
              <li class="nav-item"><a href="/" class="nav-link">home</a></li>
              <li class="nav-item"><a href="/" class="nav-link">Saude</a></li>
              <li class="nav-item"><a href="#" class="nav-link">chat</a></li>
          </ul>

          <div class="login-button">
              <button><a href="#">Entrar</a></button>
          </div>
      </div>
  </header>
</header>
  <body>

    <div class="imagem" >
        <img class="imagem-text" src="static\img-doc\modulo-conceito-alimentacao.png" alt="Minha imagem">
        <div class="texto">ALIMENTAÇÃO</div>
        <p class= "textimg">NOVAE TERRAE</p>
     </div>
     <h2> Conheça os alimentos do NOVAE TERRAE </h2>
     <div class="container">
        <div >
           <img class="img-alimentos" src="static\alimentos\ORA.PNG" alt="Minha imagem">
        </div>
        <div class="txtalimentos"><div class="h1-alimentos">Começa ora pro nobis e seus benefícios</div>
            1. Ora-pro-nóbis tem alto teor de proteínas, funcionando como substituta da carne
            Por ter um teor elevado de proteínas, a ora-pro-nóbis é um dos alimentos mais indicados para a dieta de vegetarianos, funcionando como excelente substituta da carne. Por conta disso, inclusive, ela é popularmente chamada de "carne de pobre". Vale destacar que as proteínas são fundamentais para a saúde dos músculos, ajudam na composição da pele, dos cabelos e são importantes para a imunidade. Ou seja, é imprescindível consumir esse nutriente no dia a dia! Que tal usar a ora-pro-nóbis para compor uma salada verde bem nutritiva?
            <br><br>
            2. É fonte de fibras, sendo importante para a saúde do sistema digestivo
            A ora-pro-nóbis também se destaca por ser fonte de fibras - nutrientes que garantem saciedade e são fundamentais para o bom funcionamento do sistema digestivo. As fibras também ajudam a controlar os níveis de colesterol e de glicose no sangue (sendo indispensáveis para a dieta de diabéticos) e contribuem para a saúde do sistema circulatório. Por isso, a nossa sugestão é sempre consumir alimentos ricos nesse nutriente.
            <br><br>
            3. Planta tem propriedades detox, anti-inflamatórias e cicatrizantes
            Assim como todas as plantas medicinais, a ora-pro-nóbis possui propriedades terapêuticas muito importantes: funciona como agente detox, auxiliando na limpeza do organismo (ou seja, ajuda a eliminar toxinas) e também atua como anti-inflamatório natural. Além disso, essa hortaliça tem potencial cicatrizante - ou seja, ajuda a regenerar tecidos e recuperar feridas na pele.
            <br><br>
            4. Fortalece a imunidade, pois é fonte de vitaminas A, C e do complexo B
            As folhas de ora-pro-nóbis também são ricas em vitaminas indispensáveis, que ajudam a fortalecer a imunidade. A vitamina A, em especial, é importante para a saúde da visão (ajuda a prevenir doenças na córnea, por exemplo) e tem ação antioxidante (sendo importante para a saúde da pele).
            
            A vitamina C, por sua vez, ajuda a aumentar a absorção de ferro, contribui para a produção de anticorpos (prevenindo gripes e resfriados) e, por ter efeito antioxidante, ajuda a proteger as células. Já as vitaminas do complexo B são importantes para o funcionamento dos sistemas nervoso, circulatório e imunológico. Por ser fonte de todas essas vitaminas, a ora-pro-nóbis se destaca como hortaliça altamente nutritiva e pode fazer parte da alimentação de todos.
            <br><br>
            5. Ora-pro-nóbis é fonte de cálcio, ferro e fósforo
            A ora-pro-nóbis (também conhecida como orabrobó) é uma planta rica em minerais importantes: cálcio, ferro e fósforo. Por isso, a nossa sugestão é usá-la para enriquecer saladas, sucos verdes e outras receitas. O cálcio e o fósforo, por exemplo, trabalham em conjunto para o fortalecimento dos ossos e dentes. Já o ferro é o responsável pelo transporte de oxigênio nas células, auxilia na produção de colágeno e elastina (proteínas importantes para a pele) e é importante para a imunidade.
            <br><br>
            Como usar ora-pro-nóbis no dia a dia?
            Muita usada na culinária mineira, a ora-pro-nóbis é indicada para o preparo de saladas, omeletes, risotos, smoothies, sucos e chás. Outra dica interessante é desidratar e triturar as folhas para fazer uma espécie de farinha nutritiva. Esse ingrediente pode ser usado no preparo de massas e bolos. Que tal?</div>
     </div>





  </body>